[submodule "my-php-mode"]
	path = php-mode
	url = git@github.com:earlye/php-mode.git

[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git@github.com:earlye/yaml-mode.git
